@page "/canvas"

@inject IJSRuntime js

@inherits ComponentBase

@inject ViewModel ViewModel


<h1>Canvas</h1>
<canvas id="canvas" width="1000" height="1000" @onclick="OnClickCanvas"></canvas>

@code {

    bool isDown = false;
    MyGraphic graphic;
    bool shouldrender = false;
    protected override Task OnInitializedAsync()
    {
        graphic = new MyGraphic(js);
        ViewModel.NeedRender.Subscribe(_ => shouldrender = true);
        return base.OnInitializedAsync();
    }
    protected override bool ShouldRender()
    {
        return shouldrender || base.ShouldRender();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("init");
        }
        await js.InvokeVoidAsync("clear");
        await ViewModel.Render(graphic);
        shouldrender = false;
    }

    private async Task OnClickCanvas(MouseEventArgs e)
    {
        if (e.Button == 0) await ViewModel.AddPoint.Execute((e.ClientX, e.ClientY));
    }

}