@page "/canvas"

@inherits CanvasBase

@inject IJSRuntime js

<h1>Canvas</h1>
<canvas id="canvas" width="1000" height="1000" @onmousedown="OnMouseDownCanvas" @onmouseup="OnMouseUpCanvas" @onmousemove="OnMouseMoveCanvas"></canvas>


@code {

    double lastX, lastY;
    bool isDown = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("init");
            await js.InvokeVoidAsync("clear");
        }
    }

    private async Task OnClickCanvas(MouseEventArgs e)
    {
        if (e.Button == 1)
            await DrawPoint(js, e.ClientX, e.ClientY);
    }

    async Task OnMouseDownCanvas(MouseEventArgs e)
    {
        if (e.Button == 0)
        {
            isDown = true;
            lastX = e.ClientX;
            lastY = e.ClientY;
        }
    }

    async Task OnMouseUpCanvas(MouseEventArgs e)
    {
        if (e.Button == 0)
        {
            isDown = false;
        }
    }

    async Task OnMouseMoveCanvas(MouseEventArgs e)
    {
        if (isDown)
        {
            await DrawLine(js, lastX, lastY, e.ClientX, e.ClientY);
        }
    }
}