@page "/interop"
@inject IJSRuntime JsRuntime

<h1>JS Interop</h1>

<button class="btn btn-outline-secondary" @onclick="add">Render</button>
<button class="btn btn-outline-secondary" @onclick="remove">Clear</button>
<button class="btn btn-outline-secondary" @onclick="addCube">Init</button>
<div id="myCanvas"></div>

@code {

   protected override async Task OnInitializedAsync()
   {
       await JsRuntime.InvokeVoidAsync("init");
   }

   async Task add()
   {
       await JsRuntime.InvokeVoidAsync("add");
   }

   async Task remove()
   {
       await JsRuntime.InvokeVoidAsync("remove");
   }

   async Task init()
   {
       await JsRuntime.InvokeVoidAsync("addCube");
   }
}
