@page "/interop"
@inject IJSRuntime JsRuntime

<h1>JS Interop</h1>

<button class="btn btn-outline-secondary" @onclick="init">Init</button>
<button class="btn btn-outline-secondary" @onclick="addCube">Add Cube</button>
<button class="btn btn-outline-secondary" @onclick="start">Start</button>
<button class="btn btn-outline-secondary" @onclick="stop">Stop</button>
<button class="btn btn-outline-secondary" @onclick="removeCube">Remove Cube</button>
<div id="myCanvas"></div>

@code {

   async Task init()
   {
       await JsRuntime.InvokeVoidAsync("init");
       await JsRuntime.InvokeVoidAsync("gameloop");
   }

   async Task addCube()
   {
       await JsRuntime.InvokeVoidAsync("addCube");
   }

   async Task start()
   {
       await JsRuntime.InvokeVoidAsync("start");
   }

   async Task stop()
   {
       await JsRuntime.InvokeVoidAsync("stop");
   }

   async Task removeCube()
   {
       await JsRuntime.InvokeVoidAsync("removeCube");
   }
}
